<h1 class="no-nav-header">Secret Keeper</h1>
<script src="/js/2FA.js"></script>
{{#each user}}
    <div id="banner" class="welcome"></div>
    <div id="nav" class="welcome"></div>
    <script>checkUser('{{user_name}}',{{user_super}});</script>  

    <div class="home" id="two-factor">
        
        <div class="center-button">
            <div id="two-factor-button">
                <button class="button-default" id="two-FA" onclick='startAuthentication("{{user_name}}", "{{user_password}}", "{{user_email}}")'>Generate Code</button>
            </div>
        </div>
        <div class="no-nav-form" id="invalid-otp" style="display: none;">
            <p>*Error: OTP must match most recent email. Please try again.</p>
        </div>
        <div class="no-nav-form" id="validate-code" style="display: none;">
            <p>A one-time passcode has been sent to your inbox at {{user_email}}. Please enter the value below.</p>
            <div>
                <p>Your OTP is <span id="otp-value"></span></p>
            </div>
            <label for="OTP">OTP: </label>
            <input type="text" name="OTP" id="OTP"><br><br>
            <div class="center-button">
                <button class="button-default" onclick='compareOTP("{{user_name}}", "{{user_password}}")'>Submit</button>
            </div>
            <br><br>
        </div>
    </div>
{{/each}}
<div class="secret-logo">
    <img src="../images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>