<script src="/js/editUserPage.js"></script>
{{#each user}}
    <div id="banner" class="welcome"></div>
    <div id="nav" class="welcome">
        <button onclick="location.href='/user/{{user_name}}'+'&'+'{{user_password}}'" type="button">User Page</button>
    </div>
        <script>checkUser('{{user_name}}',{{user_super}});</script>    
{{/each}}

<br><br>
<div class="no-nav-form">
    {{#each user}}
    <form method="post">
        <label for="user_password">Password: </label>
        <input type="text" name="edit_user_password" id="edit_user_password" value='{{user_password}}'>
        <br><br>  
        <label for="user_email">Email: </label>
        <input type="text" name="edit_user_email" id="edit_user_email" value='{{user_email}}'>
        <br><br>
        <button onClick="updateUser('{{user_name}}', document.getElementById('edit_user_password').value,document.getElementById('edit_user_email').value)" type="button">Save Change</button>
        </form>
    {{/each}}
</div>


