<body>
    <script src="/js/userPage.js"></script>
     {{#each user}}
    <div id="banner" class="welcome"></div>
    <div id="nav" class="welcome"></div>
        <script>checkUser('{{user_name}}',{{user_super}});</script>    
    {{/each}}
<br>
    
<div class="side-nav">
    <div id="side-nav-header"><h1>My Secrets</h1></div>
    <div id="side-nav-table">
        <table>
            {{#each records}}
                <tr>
                    <td id="record-select" onclick="displayRecord('{{record_id}}','{{record_name}}','{{record_data}}','{{record_URL}}')";>{{record_name}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div id="side-nav-elements">
        <button id="add-record-button" onclick="newRecord()" type="button">Add a Record</button>
        <div class="button-spacing"></div>
        <button id="update-user-button" onclick="updateAccount()" type="button">Update Account</button>
        <div class="button-spacing"></div>
        <button id="log-out-button" onclick="logOut()" type="button">Log Out</button>
    </div>
</div>

<div id="record-display" style="display: none;">
    <div class="record-content" >
        <table class="record-table">
                <tr>
                    <td id="record-id" style="display: none;">{{record-id}}</td>
                </tr>
                <tr>
                    <td id="record-name">{{record-name}}</td>
                </tr>
                <tr>
                    <td id="record-URL">{{record-URL}}</td>
                </tr>
                <tr>
                    <td id="record-pass">{{record-pass}}</td>
                </tr>
                <tr>
                    <td><button class="button-default" onclick="editRecord(document.getElementById('record-id').innerHTML,document.getElementById('record-name').innerHTML,document.getElementById('record-URL').innerHTML,document.getElementById('record-pass').innerHTML)" type="button">Edit Record</button></td>
                </tr>
        </table>
    </div>
</div>

<div id="update-account" style="display:none;">
    <div class="no-nav-form">
        {{#each user}}
        <form method="post">
            <label for="user_password">Password: </label>
            <input type="text" name="edit_user_password" id="edit_user_password" value='{{user_password}}'>
            <br><br>  
            <label for="user_email">Email: </label>
            <input type="text" name="edit_user_email" id="edit_user_email" value='{{user_email}}'>
            <br><br>
            <button class="button-default" onClick="updateUser('{{user_name}}', document.getElementById('edit_user_password').value,document.getElementById('edit_user_email').value)" type="button">Save Change</button>
            </form>
        {{/each}}
    </div>
</div>

<div id="add-record" style="display: none;">
    <div class="add-record-form">
        <h2>Add a New Record to the Vault</h2><br>
        <form method="POST">
             
            <label for="record_user" style="display: none;">*User Number (Temp): </label>
            {{#each user}}
            <input type="text" name="add_record_user" id="add_record_user" style="display: none;" value={{id}}>
            {{/each}}
            <br><br>
            <label for="record_name">*Account Name: </label>
            <input type="text" name="add_record_name" id="add_record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="add_record_password" id="add_record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="add_record_URL" id="add_record_URL">
            <br><br>
            <div class="center-button">
                <button class="button-default" type="submit" id="addRecord" value="Add record">Add Record</button>
            </div>  
        </form>
        <div id="required-field" style="display: none;">
            <p>*Error: Missing required field.</p>
        </div>
    </div>
</div>

<div class="editRecord" id="edit-record" style="display: none;">
    <div class="edit-record-form">
        <h2>Edit Record</h2><br>
        <form method="post">
            <label for="record_name">*Record Name: </label>
            <input type="text" name="edit_record_name" id="edit_record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="edit_record_password" id="edit_record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="edit_record_URL" id="edit_record_URL">
            <br><br>  
            <label for="record_id" style="display: none;">*Record Number (Temp): </label>
            <input type="text" name="edit_record_id" id="edit_record_id" style="display: none;">
            <br>
        </form>
        {{#each user}}
        <div> <button class="button-default" onClick="updateRecord('{{user_name}}','{{user_password}}', document.getElementById('edit_record_name').value,document.getElementById('edit_record_password').value,document.getElementById('edit_record_URL').value,document.getElementById('edit_record_id').value)" type="button">Save Change</button></div><br>
        <div> <button class="button-default" onclick="deleteRecord('{{user_name}}','{{user_password}}', document.getElementById('edit_record_id').value)" type="button">Delete Record</button></div>
        {{/each}}
    </div>
</div>

<div class="admin-form" id="admin-record" style="display: none;">
        <h2>Admin Table</h2><br>
        <form>
            <div><label>Users </label></div><br>
            {{#each admin}}
            <div name="admin_name" id="admin_name">{{user_name}}</div>
            <div name="admin_password" id="admin_password">{{user_password}}</div>
            <div> <button class="button-default" onclick="deleteUser('{{user_name}}','{{user_password}}')" type="button">Delete Profile</button></div>
            <br>
            {{/each}}
            <br><br>
            <div><h2>Questions</h2></div>
            {{#each questions}}
            <div name="question_content" id="question_content">{{question_content}}</div>
            <br>
            <div><label>Response: </label>
            <input type="text" id='{{question_content}}' name="question_response" value='{{question_response}}'><br><br></div>
            <button class="button-default" onclick="respondQuestion('{{question_content}}', document.getElementById('{{question_content}}').value)" type="button">Save Response</button>
            <button class="button-default" onclick="deleteQuestion('{{question_content}}')" type="button">Delete Comment</button>
            <br><br>
            {{/each}}
        </form>
</div>

{{#each user}}
    <script>displayAdmin('{{user_name}}','{{user_password}}');</script>
{{/each}}




