
<body>
    <div id="nav" class="side-nav">
        <button onclick="location.href='/editUser/{{id}}'" type="button">Edit User Profile</button>
    </div>
     
    <script src="/js/checkUser.js"></script>
    <div id="profile" class="welcome"></div>
    {{#each user}}
    <script>checkUser({{id}},{{user_super}});</script> 
    {{/each}}
<br>
    
<div class="side-nav">
    <div id="side-nav-header"><h1>My Secrets</h1></div>
    <div id="side-nav-table">
        <table>
            {{#each records}}
                <tr>
                    <td id="record-select" onclick=displayRecord('{{record_name}}','{{record_data}}','{{record_URL}}');>{{record_name}}</td>
                </tr>
          {{/each}}
        </table>
    </div>
    <div id="side-nav-element"><button id="add-record-button" onclick="newRecord()" type="button">Add a Record</button></div>
</div>

<div id="record-display">
    <div class="record-content" >
        <table class="record-table">
                <tr>
                    <td id="record-name"><h2>Record Name</h2></td>
                </tr>
                <tr>
                    <td id="record-url">Record URL</td>
                </tr>
                <tr>
                    <td id="record-pass">Record Password</td>
                </tr>
                <tr>
                    <td><button id="edit-record-button" onclick="editRecord(document.getElementById('record-name').innerHTML,document.getElementById('record-url').innerHTML,document.getElementById('record-pass').innerHTML)" type="button">Edit Record</button></td>
                </tr>
        </table>
    </div>
</div>

<div id="add-record" style="display: none;">
    <div class="add-record-form">
        <h2>Add a New Record to the Vault</h2><br>
        <form method="post">
            <label for="record_name">*Account Name: </label>
            <input type="text" name="record_name" id="record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="record_password" id="record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="record_url" id="record_url">
            <br><br>
            <div class="center-button">
                <button onclick="addRecord()" id="submit-record-button" type="button">Add to Database</button>
            </div>  
        </form>
        <div id="required-field" style="display: none;">
            <p>*Error: Missing required field.</p>
        </div>
    </div>
</div>

<div class="editRecord" id="edit-record" style="display: none;">
    <div class="edit-record-form">
        <h2>Edit Record</h2><br>
        <form method="post">
            <label for="record_name">*Account Name: </label>
            <input type="text" name="record_name" id="edit_record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="record_password" id="edit_record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="record_url" id="edit_record_url">
            <br><br>
            <div class="center-button">
                <button onclick="addRecord()" id="submit-edit-record-button" type="button">Update Database</button>
            </div>  
        </form>
    </div>
</div>

<script language="JavaScript">
    
    function displayRecord(name, data, URL) {
        document.getElementById('record-name').innerHTML = name;
        document.getElementById('record-url').innerHTML = URL;
        document.getElementById('record-pass').innerHTML = data;
    };

    function newRecord() {
        //Display only new-record form
        document.getElementById('record-display').style.display="none";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('add-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
    };

    function addRecord() {
        //Validate input and send to database
        let rname = document.getElementById('record_name').value;
        let rpassword = document.getElementById('record_password').value;
        let rurl = document.getElementById('record_url').value;

        if (rname != '' && rpassword != '' && rurl != '') {
        //Add record to database
        }
        else {
            document.getElementById('required-field').style.display="inline";
        }
    }

    function editRecord(name, URL, pass) {
        //Display only edit-record form
        document.getElementById('record-display').style.display="none";
        document.getElementById('add-record').style.display="none";
        document.getElementById('edit-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
        
        document.getElementById('edit_record_name').value = name;
        document.getElementById('edit_record_url').value = URL;
        document.getElementById('edit_record_password').value = pass;
    }

</script>



