{{!-- <h1>User Page</h1>
<body>
    <div id="nav" class="side-nav">
        <button onclick="location.href='/editUser/{{id}}'" type="button">Edit User Profile</button>
    </div>
    
    <!–– 
    <script src="/js/checkUser.js"></script>
    <div id="profile"></div>
    <script>checkUser({{id}},{{user_super}});</script> 
    -->

<br> --}}

<div class="side-nav">
    <div id="side-nav-header"><h1>My Secrets</h1></div>
    <div id="side-nav-table">
        <table>
            {{!-- {{#each records}} --}}
                {{!-- <tr>
                    <td id="record-select" onclick="displayRecord()">{{record.record_name}}</td>
                </tr> --}}
            <tr>
                <td id="record-select" onclick="displayRecord()">Bank of America</td>
            </tr>
            <tr>
                <td id="record-select" onclick="displayRecord()">Gmail</td>
            </tr>
            <tr>
                <td id="record-select" onclick="displayRecord()">Facebook</td>
            </tr>
            <tr>
                <td id="record-select" onclick="displayRecord()">MyOSU</td>
            </tr>
            {{!-- {{/each}} --}}
        </table>
    </div>
    <div id="side-nav-element"><button id="add-record-button" onclick="newRecord()" type="button">Add a Record</button></div>
</div>

<div id="record-display">
    <div class="record-content" >
        <table class="record-table">
            {{!-- {{#each record.record_data}} --}}
                <tr>
                    <td id="record-name"><h2>Record Name</h2></td>
                    {{!-- <td id="recordName"><h2>{{record.record_name}}</h2></td> --}}
                </tr>
                <tr>
                    <td>Record URL</td>
                    {{!-- <td>{{record.record_URL}}</td> --}}
                </tr>
                <tr>
                    <td>Record Password</td>
                    {{!-- Note: this should be encrypted in the secure site --}}
                    {{!-- <td>{{record.record_password}}</td> --}}
                </tr>
                <tr>
                    <td><button id="edit-record-button" onclick="editRecord()" type="button">Edit Record</button></td>
                </tr>
            {{!-- {{/each}} --}}
        </table>
    </div>
</div>

<div id="add-record" style="display: none;">
    <div class="add-record-form">
        <h2>Add a New Record to the Vault</h2><br>
        <form method="post">
            <label for="record_name">*Account Name: </label>
            <input type="text" name="record_name" id="record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="record_password" id="record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="record_url" id="record_url">
            <br><br>
            <div class="center-button">
                <button onclick="addRecord()" id="submit-record-button" type="button">Add to Database</button>
            </div>  
        </form>
        <div id="required-field" style="display: none;">
            <p>*Error: Missing required field.</p>
        </div>
    </div>
</div>

<div class="editRecord" id="edit-record" style="display: none;">
    <div class="edit-record-form">
        <h2>Edit Record</h2><br>
        <form method="post">
            <label for="record_name">*Account Name: </label>
            <input type="text" name="record_name" id="record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="record_password" id="record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="record_url" id="record_url">
            <br><br>
            <div class="center-button">
                <button onclick="addRecord()" id="submit-record-button" type="button">Update Database</button>
            </div>  
        </form>
    </div>
</div>

<script language="JavaScript">
    function displayRecord() {
        //Display only existing record form
        document.getElementById('add-record').style.display="none";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('required-field').style.display="none";

        let currentRecord = document.getElementById('record-select');

        //Placeholder to query database and display data
        console.log(currentRecord.record_name);
        document.getElementById('record-display').style.display="inline";
    };

    function newRecord() {
        //Display only new-record form
        document.getElementById('record-display').style.display="none";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('add-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
    };

    function addRecord() {
        //Validate input and send to database
        let rname = document.getElementById('record_name').value;
        let rpassword = document.getElementById('record_password').value;
        let rurl = document.getElementById('record_url').value;

        if (rname != '' && rpassword != '' && rurl != '') {
        //Add record to database
        }
        else {
            document.getElementById('required-field').style.display="inline";
        }
    }

    function editRecord() {
        //Display only edit-record form
        document.getElementById('record-display').style.display="none";
        document.getElementById('add-record').style.display="none";
        document.getElementById('edit-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
    }

</script>



