<body>
     {{#each user}}
    <div id="banner" class="welcome"></div>
    <div id="nav" class="welcome"></div>
        <script>checkUser('{{user_name}}',{{user_super}});</script>    
    {{/each}}
<br>
    
<div class="side-nav">
    <div id="side-nav-header"><h1>My Secrets</h1></div>
    <div id="side-nav-table">
        <table>
            {{#each records}}
                <tr>
                    <td id="record-select" onclick="displayRecord('{{record_id}}','{{record_name}}','{{record_data}}','{{record_URL}}')";>{{record_name}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
    <div id="side-nav-elements">
        <button id="add-record-button" onclick="newRecord()" type="button">Add a Record</button>
        <div class="button-spacing"></div>
        <button id="update-user-button" onclick="updateAccount()" type="button">Update Account</button>
        <div class="button-spacing"></div>
        <button id="log-out-button" onclick="logOut()" type="button">Log Out</button>
    </div>
</div>

<div id="record-display" style="display: none;">
    <div class="record-content" >
        <table class="record-table">
                <tr>
                    <td id="record-id" style="display: none;">{{record-id}}</td>
                </tr>
                <tr>
                    <td id="record-name">{{record-name}}</td>
                </tr>
                <tr>
                    <td id="record-URL">{{record-URL}}</td>
                </tr>
                <tr>
                    <td id="record-pass">{{record-pass}}</td>
                </tr>
                <tr>
                    <td><button id="edit-record-button" onclick="editRecord(document.getElementById('record-id').innerHTML,document.getElementById('record-name').innerHTML,document.getElementById('record-URL').innerHTML,document.getElementById('record-pass').innerHTML)" type="button">Edit Record</button></td>
                </tr>
        </table>
    </div>
</div>

<div id="update-account" style="display:none;">
    <div class="no-nav-form">
        {{#each user}}
        <form method="post">
            <label for="user_password">Password: </label>
            <input type="text" name="edit_user_password" id="edit_user_password" value='{{user_password}}'>
            <br><br>  
            <label for="user_email">Email: </label>
            <input type="text" name="edit_user_email" id="edit_user_email" value='{{user_email}}'>
            <br><br>
            <button onClick="updateUser('{{user_name}}', document.getElementById('edit_user_password').value,document.getElementById('edit_user_email').value)" type="button">Save Change</button>
            </form>
        {{/each}}
    </div>
</div>

<div id="add-record" style="display: none;">
    <div class="add-record-form">
        <h2>Add a New Record to the Vault</h2><br>
        <form method="POST">
             
            <label for="record_user" style="display: none;">*User Number (Temp): </label>
            {{#each user}}
            <input type="text" name="add_record_user" id="add_record_user" style="display: none;" value={{id}}>
            {{/each}}
            <br><br>
            <label for="record_name">*Account Name: </label>
            <input type="text" name="add_record_name" id="add_record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="add_record_password" id="add_record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="add_record_URL" id="add_record_URL">
            <br><br>
            <div class="center-button">
                <button type="submit" id="addRecord" value="Add record">Add Record</button>
            </div>  
        </form>
        <div id="required-field" style="display: none;">
            <p>*Error: Missing required field.</p>
        </div>
    </div>
</div>

<div class="editRecord" id="edit-record" style="display: none;">
    <div class="edit-record-form">
        <h2>Edit Record</h2><br>
        <form method="post">
            <label for="record_name">*Record Name: </label>
            <input type="text" name="edit_record_name" id="edit_record_name">
            <br><br>
            <label for="record_password">*Password: </label>
            <input type="text" name="edit_record_password" id="edit_record_password">
            <br><br>
            <label for="record_url">*URL: </label>
            <input type="text" name="edit_record_URL" id="edit_record_URL">
            <br><br>  
            <label for="record_id" style="display: none;">*Record Number (Temp): </label>
            <input type="text" name="edit_record_id" id="edit_record_id" style="display: none;">
            <br>
        </form>
        {{#each user}}
        <div> <button onClick="updateRecord('{{user_name}}','{{user_password}}', document.getElementById('edit_record_name').value,document.getElementById('edit_record_password').value,document.getElementById('edit_record_URL').value,document.getElementById('edit_record_id').value)" type="button">Save Change</button></div><br>
        <div> <button onclick="deleteRecord('{{user_name}}','{{user_password}}', document.getElementById('edit_record_id').value)" type="button">Delete Record</button></div>
        {{/each}}
    </div>
</div>

<div class="admin-form" id="admin-record" style="display: none;">
        <h2>Admin Table</h2><br>
        <form>
            {{#each admin}}
            <div name="admin_name" id="admin_name">{{user_name}} </div>
            <div name="admin_password" id="admin_password">{{user_password}} </div>
            <br>
            {{/each}}
        </form>
</div>

{{#each user}}
    <script>
        let n = '{{user_name}}';
        let p = '{{user_password}}';
        if (  n== 'Admin' && p == 'password' ) {
            document.getElementById('admin-record').style.display="inline";
            document.getElementById('admin_name').style.display="table-cell";
            document.getElementById('admin_password').style.display="table-cell";
        }
    </script>
{{/each}}

<script language="JavaScript">
    
    //Function takes the passed data and adds it to the DOM
        //Function displays the record table
    function displayRecord(id, name, data, URL) {
        $("#record-id").html(id);
        $("#record-name").html(name);
        $("#record-URL").html(URL);
        $("#record-pass").html(data);

        document.getElementById('record-display').style.display="inline";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('add-record').style.display="none";
        document.getElementById('required-field').style.display="none";
        document.getElementById('update-account').style.display="none";
    }

    //Functions displays the add record form
    function newRecord() {
        document.getElementById('record-display').style.display="none";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('add-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
        document.getElementById('update-account').style.display="none";
    }

    //Function displays the update account form
    function updateAccount() {
        document.getElementById('record-display').style.display="none";
        document.getElementById('edit-record').style.display="none";
        document.getElementById('add-record').style.display="none";
        document.getElementById('required-field').style.display="none";
        document.getElementById('update-account').style.display="inline";
    }

    //Function takes the passed data and adds it to the DOM
        //Function displays the edit record form
    function editRecord(id, name, URL, pass) {
        document.getElementById('record-display').style.display="none";
        document.getElementById('add-record').style.display="none";
        document.getElementById('edit-record').style.display="inline";
        document.getElementById('required-field').style.display="none";
        document.getElementById('update-account').style.display="none";
        
        document.getElementById('edit_record_id').value = id;
        document.getElementById('edit_record_name').value = name;
        document.getElementById('edit_record_URL').value = URL;
        document.getElementById('edit_record_password').value = pass;
    }

    //Function sends a AJAX DELETE to it's own URL with the record id to be deleted
        //Success reloads the current page, sans record
    function deleteRecord(user_name,user_pass, record_id){
        $.ajax({
            url: '/user/' + user_name+'&'+user_pass,
            data: {record_id: record_id},
            type: 'DELETE',
            success: function(result){
                window.location.reload(true);
            }
        })
    }
    
    //Function sends a AJAX PUT to it's own URL with the record info to be updated
        //Success reloads the current page, with new record info
    function updateRecord(user_name,user_pass, record_name, record_password, record_URL, record_id)
    {
        $.ajax({
            url: '/user/' + user_name+'&'+user_pass,
            data: {record_id: record_id, record_name: record_name, record_URL: record_URL, record_password: record_password},
            type: 'PUT',
            success: function(result) {
                window.location.reload(true);
            }
        })
    }
    
    function updateUser(user_name, user_password, user_email)
    {
        $.ajax({
            url: '/editUser/' + user_name+'&'+user_password,
            data: {user_password: user_password, user_email: user_email},
            type: 'PUT',
            success: function(result) {
                location.href = "/user/" + user_name + '&' + user_password;
            }
        })
    }

    function logOut()
    {
        document.location.href="/";
    }
    
</script>



