{{!-- <h1>User Page</h1>
<body>
    <div id="nav" class="side-nav">
        <button onclick="location.href='/editUser/{{id}}'" type="button">Edit User Profile</button>
    </div>
    
    <!–– 
    <script src="/js/checkUser.js"></script>
    <div id="profile"></div>
    <script>checkUser({{id}},{{user_super}});</script> 
    -->

<br> --}}

<div class="side-nav">
    <div id="header-nav"><h1>My Secrets</h1></div>
    <div id="records-nav">
        {{!-- {{#each records}} --}}
            <a href="#">Bank of America</a>
            <a href="#">Gmail</a>
            <a href="#">Facebook</a>
            <a href="#">MyOSU</a>
        {{!-- {{/each}} --}}
    </div>
</div>

<div class="record-content">
    <table id="recordTab" class="recordTable">
        {{!-- {{#each record_data}} --}}
            <tr>
                <td id="recordName"><h2>++Record Name++</h2></td>
                {{!-- <td>{{record.record_name}}</td> --}}
            </tr>
            <tr>
                <td>++Record URL++</td>
                {{!-- <td>{{record.record_URL}}</td> --}}
            </tr>
            <tr>
                <td>++Record Password++</td>
                {{!-- <td>{{record.record_password}}</td> --}}
            </tr>
            <tr>
                <td><button id="button" onclick="" type="button">Edit Record</button></td>
            </tr>
        {{!-- {{/each}} --}}
    </table>
</div>


{{!-- 
<br>
<h2>Add Record</h2>
<form id="addRecordForm" method="post">
Record name:<br>
  <input type="text" name="record_name">
  <br>
Record (password):<br>
  <input type="text" name="record_data">
  <br>
Corresponding Website URL:<br>
  <input type="text" name="record_URL">
  <br>    
  <input type="submit" id="addRecord" value="Submit">
</form>  --}}
